@import url(https://fonts.googleapis.com/css?family=Roboto);

.statistics {
  margin: 0 auto;
  width: 400px;
  background-color: #fff;
  margin-top: 20px;
}

.statList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.item {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.label {
  width: 100%;
}
